<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
  export default {
    name: "App",
  };
</script>

<style>
  body {
    margin: 0;
    padding: 0;
    background-color: #90acd5;
  }

  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    text-align: center;
    color: black;
    margin-top: 60px;
  }
</style>
