<template>
  <div>
    <h2>Pokémons Favoritados</h2>
     <router-link :to="{ name: 'Search' }">Pesquisar</router-link>
    <div class="pokemon-card-container">
      <PokemonCard
        v-for="favoritePokemon in favoritePokemonList"
        :key="favoritePokemon.id"
        :pokemon="favoritePokemon"
      />
    </div>
  </div>
</template>

<script>
import PokemonCard from "./PokemonCard.vue";

export default {
  data() {
    return {
      favoritePokemonList: [],
    };
  },
  async mounted() {

  const host = window.location.host;
  const Url = `http://${host}/favorites`;

    try {
      const response = await fetch(Url);
      const data = await response.json();
      this.favoritePokemonList = data;
    } catch (error) {
      console.error("Erro ao obter Pokémons favoritados:", error);
    }
  },
  components: {
    PokemonCard,
  },
};
</script>

<style scoped>

.pokemon-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px; 
}
</style>
