<template>
  <div class="pokemon-card">
    <h3>{{ pokemon.name }}</h3>
    <div class="pokemon-info">
      <img :src="pokemon.image" :alt="pokemon.name" />
      <p>Peso: {{ pokemon.weight }}</p>
      <p>Altura: {{ pokemon.height }}</p>
      <p>Tipos: {{ formatTypes(pokemon.types) }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    pokemon: {
      type: Object,
      required: true,
    },
  },
  methods: {
    formatTypes(types) {
      if (Array.isArray(types)) {
        return types.join(', ');
      } else {
        return types;
      }
    },
  },
};
</script>

<style scoped>
.pokemon-info {
  margin-top: 10px;
}

button {
  margin-top: 10px;
}

.pokemon-card {
  width: 300px;
  height: 400px;
  border: 2px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-info {
  margin-top: 10px;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
</style>
