<template>
  <div v-if="pokemon" class="pokemon-card">
    <PokemonCard :pokemon="pokemon" />
    <a href="#" @click.prevent="favoritePokemon" title="Clique aqui para favoritar">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="28" height="28" fill="yellow" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2" />
      </svg>
    </a> 
  </div>
</template>

<script>
import PokemonCard from "./PokemonCard.vue";

export default {
  props: ["pokemon"],
  methods: {
    async favoritePokemon() {
      try {
        const host = window.location.host;
        const Url = `http://${host}/favorite`;
        const csrfToken = document.querySelector('meta[name="csrf-token"]').content;
        const response = await fetch(Url, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
            "X-CSRF-TOKEN": csrfToken,
          },
          body: JSON.stringify(this.pokemon),
        });

        const data = await response.json();
        alert("Pokémon favoritado com sucesso:");
      } catch (error) {
        alert("Erro ao favoritar Pokémon:", error);
      }
    },
  },
  components: {
    PokemonCard,
  },
};
</script>


 