<template>
  <div class="search-container">
    <div class="search-inner">
      <span v-if="pokemonNameError" class="error-text"
        >Digite o nome do Pokémon antes de pesquisar.</span
      >
      <router-link :to="{ name: 'Favorites' }">Ver Favoritos</router-link>
      <input
        v-model="pokemonName"
        placeholder="Digite o nome do Pokémon e pressione enter"
        :class="{ 'error-border': pokemonNameError }"
        class="search-input"
        @keyup.enter="searchPokemon"
      />
      <PokemonDetails v-if="pokemonDetails" :pokemon="pokemonDetails" />
    </div>
  </div>
</template>

<script>
import PokemonDetails from "./PokemonDetails.vue";

export default {
  data() {
    return {
      pokemonName: "",
      pokemonNameError: false,
      pokemonDetails: null,
    };
  },
  methods: {
    async searchPokemon() {
      if (!this.pokemonName.trim()) {
        this.pokemonNameError = true;
        return;
      }

      this.pokemonNameError = false;

      try {
        const response = await fetch(`/pokemon/${this.pokemonName.toLowerCase()}`);
        const data = await response.json();
        this.pokemonDetails = data;
      } catch (error) {
        console.error("Erro ao buscar Pokémon:", error);
      }
    },
  },
  components: {
    PokemonDetails,
  },
};
</script>

<style scoped>
.error-border {
  border: 1px solid red;
}

.error-text {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  display: block;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.search-inner {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-button {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4caf50; /* Cor verde para o botão */
  color: #fff; /* Cor do texto no botão */
}

/* Adicionando estilos responsivos para telas menores */
@media (max-width: 768px) {
  .search-container {
    padding: 10px;
  }

  .search-input {
    width: 100%;
  }
}
</style>
